<div class="companyList">
    <div class="companyList-header">
        <h1>Companys</h1>
    </div>
    
    <div data-ng-repeat="entity in vm.entities" class="companyList-item">
        <div class="companyList-name">
            {{ entity.name }}
        </div>
        <div class="companyList-actions">
            <span data-ng-click="vm.edit({ entity: this.entity })">edit</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span data-ng-click="vm.remove({ entity: this.entity })">remove</span>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
